# Obsidian config files
.obsidian/workspace*
.obsidian/appearance.json
.obsidian/graph.json
.obsidian/plugins/
.obsidian/snippets/
.obsidian/themes/
.obsidian/community-plugins.json

# OS-specific
.DS_Store
Thumbs.db

# Temporary or private files
*.log
*.tmp

# Personal Reflections
personal_reflection.md
